#main h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 31px;
    margin-left:30px;
}

body{ background: #f5f8fd; }

iframe { margin-bottom: 20px; }

p{ font-size: 16px; margin:0; padding:0;}
h6 { font-weight: bold; margin-top: 20px; margin-bottom: 4px; }
.card{
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    margin-top:20px;
    margin-bottom:15px
}

.grey-border{
    height: 10px;
    border-top: 2px solid #DBDBDB;
}

.doel{
    font-style: italic;
    margin-bottom:10px;
    font-size:17px;
    /* text-decoration: underline; */
}
.leerdoel-boxes{
    width: 100%;
    /* height: 100%; */
    height: 300px;
}
.manage { width: 100%; height: 300px; }
.manage .outerbox{
    background-image: url(../img/background.gif);
    background-size: 100%;
    height: 100%;
  }
.manage .innerbox{
    background-color:black;
    opacity: 0.5;
    height:100%;
}
.innerbox h2{
    opacity: 1;
    color: white;
}
.og h4{
    font-size: 20px;
    color: #173b6c;
    font-weight: bold;
}
.og p{
    padding-top: 3px;
    padding-bottom: 3px;
}
.intro { padding-top: 20px;
background:white; 
}
li{
    font-size: 16px;
}
.bewijslast, .reflectie{
    background:white;
}
.in-between{
    height: 2px;
    width: 95%;
    clear:both;
    margin: 0 auto;
    background: #173b6c;
    margin-top: 40px;
    margin-bottom: 40px;
 }